@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  background-color: white;
  color: #0f172a; /* Slate 900 for high-end readability */
}